.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-primary);
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.page-content {
  flex: 1;
  padding: var(--spacing-xl) var(--spacing-xl);
  overflow-y: auto;
  background-color: var(--bg-secondary);
}
